body{
  min-width: 320px;
}
.montserrat{
  font-family: 'Montserrat', arial;
}
.montserrat-light{
  font-family: 'Montserrat Light', arial;
}
.header-top{
  background-color: #2b2b2b;
}
.header{
  background: #232323;
}
.container{
  display: flex;
  max-width: 1170px;
  margin: auto;
  justify-content: space-between;
}
.phone{
 font-size: 14px;
  padding: 9px 0px;
}
.phone>a{
  text-decoration: none;
  color: #7b7b7b;
}
.user{
  padding: 9px 0px;
}
.user>a{
  color: #666666;
  font-size: 14px;
  text-decoration: none;
}
.user>span{
  color: #3b3b3b;
  font-size: 12px;
  padding: 0px 12px;
}
.searcher{
  border: 1px solid #323232;
  margin-top: 30px;
  height: 44px;

}
.searcher>button{
  background: url("images/zoom.png") center center no-repeat;
  width: 55px;
  height: 44px;
  border: none;
  vertical-align: middle;
  padding: 0;
}
.searcher>button:hover{
  cursor: pointer;
}
.searcher>input{
  vertical-align: middle;
  height: 44px;
  background: #232323;
  border: none;
  padding-left: 14px;
  width: 192px;
  color: white;
  font-size: 13px;
}
.logo{
  margin-top: 30px;
}
a:hover{
  text-decoration: underline;
}
.head-menu{
  padding: 0;
  margin-left: -25px;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 42px;
}
.head-menu>li{
  display: inline-block;
}
.head-menu>li>a{
  padding: 0px 25px;
  text-decoration: none;
  color: #ffffff;
}
.head-menu>li:first-child>a{
  color: #af8767;
}
.head-menu>li>a:hover{
  color: #af8767;
}
.bag{
  align-self: center;
  position: relative;
  padding-right: 8px;
}
.bag>span{
  font-size: 12px;
  display: inline-block;
  background: #be926f;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: 0px;
}
@media (max-width: 690px) {
  .head-menu>li{
    display: block;
    padding: 15px 15px;
  }
  .bag{
    align-self: flex-start;
    margin-top: 40px;
  }
}
@media (max-width: 450px) {
  .logo{
    text-align: center;
  }
  .searcher{
    margin: auto;
    margin-top: 25px;
    width: 252px;
  }
  .container-addaptive{
    flex-direction: column;
  }
  .phone{
    text-align: center;
  }
  .user{
    text-align: center;
  }
}
::-webkit-input-placeholder {
  padding-left: 10px;
}

::-moz-placeholder {  /* Firefox 19+ */
  padding-left: 10px;
}


