html {
  font-family: 'Montserrat Light',sans-serif;
  font-size: 15px ;
  line-height: 1.73333;
}
h1, h2, h3, h4 ,h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
h1{
  font-size: 24px;
}
.details{
  padding: 0;

.details li {
  display: inline;
}
.details li:first-child:before {
  content:'|';
  margin: 0 20px;
}
