html {
  font-family: "montserrat Light", sans-serif;
  font-size: 100%;
  line-height: 1.73333;
}
.montserrat Ligh {
  font-family: "montserrat Ligh";
}
.montserrat {
  font-family: "montserrat";
}
.page-header {
  background-color: #232323;
  }
body {
   min-width: 73.125em;
 }
.header-top {
    background-color: #2b2b2b;
  font-size: 87.50%;
}
.container {
  margin: 0 auto;
  width: 83.5714em;
  color: #666666;
}
.header-mob {
  float: left;
  color: #7f7f7f;
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}
.header-login {
  float: right;
  }
.header-login, .header-mob {
  padding: 0.3571em 0;
}
.header-login a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: #666666;
}
.header-login a:hover {
  color: #3b3b3b;
}
.or {
  color: #3b3b3b;
  margin: 0 0.3571em;
}
.clearfix::after {
content: '';
display: table;
clear: both;
}


