.content-location {
  background: #e7e7e7;
  text-transform: uppercase;
}

.content-location-info {
  padding-top: 46px;
  padding-bottom: 41px;
  padding-left: 27px;
}

.content-location-nav {
  margin-top: 51px;
  margin-right: 13px;
}

.content-location-nav a {
  text-decoration: none;
  color: #999999;
}

.content-location-nav a:hover {
  color: #666666;
}

.content-location-nav span  {
  padding: 0 3px;
  color: #999999;
}
