@import "main.css";
html {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
}
body {
  min-width: 320px;
  background-color: #f7f7f7;
}
header {
  background-color: #232323;
}
.page-head {
  background-color: #232323;
}
.header-authorization {
  font-size: 0.875em;
  color: #393939;
  padding: 10px 0;
  margin-bottom: 30px;
}
.header-authorization a {
  color: #7f7f7f;
  text-decoration: none;
}
.header-furniture-search {
  background-color: transparent;
}
.header-furniture-search input, .header-furniture-search button {
  background-color: transparent;
  border: 1px solid #323232;
  min-height: 36px;
}
.header-furniture-search button {
  color: #ffffff;
  border: none;
  padding: 8px;
}
.header-furniture-search .glyphicon {
  top: auto;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #be926f;
  transition: 0.5s;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: #be926f;
  transition: 0.5s;
}
/* вирівнюю горизонтальну навігацію по лівому краю */
.container-fluid {
  margin-left: -30px;
  padding-left: 0;
}
