@import "grid.css";
@import "header.css";
@import "content.css";

html  {
}

body {
  min-width: 320px;
}

.monserat-lite {
  font-family: 'Montserrat Light', sans-serif;
}

.monserat {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  .nav-pills>li {
    float: none;
  }
  .content-location-nav {
    padding-left: 27px;
    margin-top: 0;
    margin-right: 0;
  }
}
