main{
  margin: 25px 0;
}
main>.container {
  background-color: #f7f7f7;
}
.contact-us, .home-contact{
  text-transform: uppercase;
}
.main-contact-us {
  line-height: 115px;
  background-color: #e7e7e7;
  margin-bottom: 30px;
}
.home-contact a {
  text-align: center;
}
.contact-us h1 {
  line-height: 115px;
  margin: 0;
}
.home-contact a {
  text-decoration: none;
  color: #232323;
}
.home-contact a:hover {
  color: #999999;
}

.contact-inform-marker>li{
  list-style: none; /* Убираем исходные маркеры */
  background: url(images/marker.png) no-repeat 0 4px; /* Параметры фона */
  padding-left: 20px; /* Смещаем текст вправо */
}
.contact-inform-tel>li{
  list-style: none; /* Убираем исходные маркеры */
  background: url(images/tel.png) no-repeat 0 4px; /* Параметры фона */
  padding-left: 20px; /* Смещаем текст вправо */
}
.contact-inform-mail>li{
  list-style: none; /* Убираем исходные маркеры */
  background: url(images/mail.png) no-repeat 0 4px; /* Параметры фона */
  padding-left: 20px; /* Смещаем текст вправо */
}
