@media (max-width: 700px) {
  .header-nav li {
    display: block;
  }
}
@media (max-width: 500px) {
    .logo-funiture {
      text-align: center;
      display: block;
    }
  .poshuk input {
    width: calc(100% - 55px);
  }
}
@media (max-width: 400px) {
  .product-1 {
    margin: 0;
    text-align: center;
    float: none;
  }
  .product-2 {
    margin: 0;
    float: none;
    text-align: center;
  }
  .header-mob {
    float: none;
  }
  .header-login {
    float: none;
    padding: 0;
  }
  .header-top {
    text-align: center;
  }
}



/*
.poshuk button {
    margin-left: -100%;
    position: relative;
    z-index: 2;
  }
}
*/

